<nav class="nav" id="nav">
    <div class="wrap clearfix">
        <ul>
            <li id="0"><a href="/">首页</a></li>
            <li id="1"><a href="/class/1/1">热门小说</a></li>
            <li id="2"><a href="/class/2/1">热追现言</a></li>
            <li id="3"><a href="/class/3/1">热追古言</a></li>
            <li id="4"><a href="/class/4/1">热追幻言</a></li>
            <li id="5"><a href="/class/5/1">热门男频</a></li>
            <li id="6"><a href="/class/6/1">热读纯爱</a></li>
            <li id="7"><a href="/class/98/1">精品书库</a></li>
            <li id="99"><a href="/class/99/1" >已完结</a></li>
            <li><a href="http://m.xhjbook.com" class="mobile" target="_blank">手机站</a></li>
        </ul>
    </div>
</nav>