<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1">
    <title>{{tp_name}}_小黄鸡小说手机站</title>
    <meta name="keywords" content="{{tp_name}}小说, {{tp_name}}排行榜，小黄鸡小说手机站"/>
    <meta name="description" content="小黄鸡小说网,{{tp_name}}小说排行，每天更新，无弹窗无广告"/>
    <link rel="stylesheet" href="../../static/bk_mobile/css/style.css" />
    <link rel="stylesheet" href="../../static/base/css/base.css"/>
    <script src="../../static/bk_mobile/js/baidu.js" charset="gbk"></script>
</head>
<body>
    <header class="top c_big" id="top">
        <div class="span2">
            <div class="index-login" style="text-align: left">
                <a class="header-link "  href="/bookcase" >书架</a>
            </div>
        </div>
        <div class="span8 chapter-title">{{tp_name}}</div>
        <div class="span2">
            <div class="index-login">
                <a class="header-link c_float_right" href="/" >首页</a>
            </div>
        </div>
    </header>
    <div class="class-panel">
        {% include 'sort.html' %}
        {% include 'find.html' %}

        <div class="recommend">
            <div class="s_list">
                <dl class="sort-dl">
                    <dt><span>{{tp_name}}</span></dt>
                    <dd>
                         {% set i = 1 %}
                         {% for bk in bk_list %}
                         {% if i < 2%}
                        <div class="recommend-item sort-item">
                            <a href="/{{bk.get('bk_id')}}">
                                <div class="recommend-item-left">
                                    <img src="/pic/{{bk.get('bk_id')}}.jpg" alt="{{bk.get('bk_name')}}">
                                </div>
                                <div class="recommend-item-right">
                                    <p class="novel-name">{{bk.get('bk_name')}}<span class="ball {{bk.get('bk_ball')}}"></span></p>
                                    <p class="author">作者:&nbsp;{{bk.get('bk_author')}}</p>
                                    <div class="biref">{{bk.get('bk_abstract')}}</div>
                                </div>
                            </a>
                        </div>
                        {% end %}
                         {% set i += 1%}
                         {% end %}
                        <ul>
                            {% set i = 1 %}
                            {% for bk in bk_list %}
                            {% if i >= 2%}
                            <li><a href="/{{bk.get('bk_id')}}">[{{bk.get('tp_name')}}]<span class="novel">{{bk.get('bk_name')}}</span>{{bk.get('bk_author')}}<span class="ball {{bk.get('bk_ball')}}"></span></a> </li>
                            {% end %}
                             {% set i += 1%}
                             {% end %}
                        </ul>
                    </dd>
                </dl>


                <!-- 以下tip替换 -->
                <div class="tip">
                    <ul>
                        <li><label>更新:&nbsp;</label></li>
                        <li><span class="one"></span></li>
                        <li><label>&lt;7天&nbsp;</label></li>
                        <li><span class="two"></span></li>
                        <li><label>&gt;7天&nbsp;</label></li>
                        <li><span class="three"></span></li>
                        <li><label>完结&nbsp;</label></li>
                    </ul>
                </div>
                <!-- tip结束-->
                <div class="pages">
                    <div class="page_link">
                        <a class="index-page" href="/class/{{tp_id}}/1">首页</a>
                        <a class="pre-page" href="/class/{{tp_id}}/{{pre_id}}">上页</a>
                        <a class="next-page" href="/class/{{tp_id}}/{{next_id}}">下页</a>
                        <a class="last-page" href="/class/{{tp_id}}/{{total_page}}">尾页</a>
                    </div>
                    <div class="page">
                        <kbd><span>输入页码跳转</span>
                            <input id="page-input" type="text" onkeydown="if(event.keyCode==13){window.location='/class/{{tp_id}}/<{$page}>'.replace('<{$page|subdirectory}>', '/' + Math.floor(this.value / 1000)).replace('<{$page}>', this.value); return false;}" /><span class="all-page">({{page_index}}/{{total_page}})</span></kbd>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 以下footer替换 -->
    {% include 'footer.html' %}
    <!-- footer结束 -->
</body>

</html>