<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>小黄鸡书单</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="../../static/bk_mobile/css/style.css" />
    <link rel="stylesheet" href="../../static/base/css/base.css"/>
    <script src="../../static/bk_mobile/js/bc_web.js"></script>
    <script src="../../static/bk_mobile/js/baidu.js" charset="gbk"></script>
</head>
<body>
<header class="top c_big" id="top">
    <div class="span2">
        <div class="index-login" style="text-align: left">
            <a class="header-link "  href="javascript:;" >返回</a>
        </div>
    </div>
    <div class="span8 chapter-title">本站声明</div>
    <div class="span2">
        <div class="index-login">
            <a class="header-link c_float_right" href="index.html" >首页</a>
        </div>
    </div>
</header>
<div class="declare-box">
    <div class="contact-panel">
        <div class="error-info">
            <p>系统错误</p>
        </div>
        <div class="c_item">
            <input  type="button" value="返回" onclick="" />
        </div>
    </div>

    <div class="xj-panel" id="xj-panel">
        <span class="xj">
            <img src="../../static/base/images/xj3.gif"/>
        </span>
    </div>
</div>

    <!-- 以下footer替换 -->
    {% include 'footer.html' %}
    <!-- footer结束 -->

</body>
</html>