<div class="sort">
    <ul>
        <li class="span3"><a href="/class/1/1">热门小说</a></li>
        <li class="span3"><a href="/class/2/1">热追现言</a></li>
        <li class="span3"><a href="/class/3/1">热追古言</a></li>
        <li class="span3"><a href="/class/4/1">热追幻言</a></li>
        <li class="span3"><a href="/class/5/1">热门男频</a></li>
        <li class="span3"><a href="/class/6/1">热读纯爱</a></li>
        <li class="span3"><a href="/class/100/1">排行榜</a></li>
        <li class="span3"><a href="/class/99/1">完结书库</a></li>
    </ul>
</div>